[submodule "seosnap-dashboard"]
	path = seosnap-dashboard
	url = ../SeoSnap-Dashboard.git
[submodule "seosnap-cachewarmer"]
	path = seosnap-cachewarmer
	url = ../SeoSnap-Cache-Warmer.git
[submodule "seosnap-cacheserver"]
	path = seosnap-cacheserver
	url = ../SeoSnap-Cache-Server.git
